<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> create your own group </h1>
   
        <input type="text" id="input"/>
        <button id="btn"> create</button>
       <h6><%= groupname %></h1>
   
    
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const btn = document.getElementById('btn')
    const input = document.getElementById('input')
    btn.addEventListener('click',()=>{
        const text = input.value
        socket.emit('create group',{groupname:text})
        input.value=''
    })
    

</script>